*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.Restart{
    padding: 32px;
    border: 4px solid #000000;
    font-size: 24px;
    font-weight: 900;
    border-radius: 8px;
    margin-top: 32px;
}